In [2]:
import pandas as pd

In [3]:
daily_engagement = pd.read_csv('daily_engagement.csv')

In [4]:
len(daily_engagement['acct'])

136240

In [5]:
len(daily_engagement['acct'].unique())

1237

In [6]:
type(daily_engagement)

pandas.core.frame.DataFrame

In [7]:
type(daily_engagement['acct'])

pandas.core.series.Series

# Series datatype is built on top of numpy array

In [10]:
print ('Hi {} and {}'.format(1,'see2'))

Hi 1 and see2

In [13]:
#This will only show elements that has their corresponding index True in array b
import numpy as np
a = np.array([1,2,3,4])
b = [True,False, True, False]
a[b]

array([1, 3])

In [15]:
c = np.array([0, 1, 0, 1])
a[c>0]

array([2, 4])

In [39]:
#Back to panda
print (daily_engagement.head())
daily_engagement.describe()

   acct    utc_date  num_courses_visited  total_minutes_visited  \
0     0  2015-01-09                  1.0              11.679374
1     0  2015-01-10                  2.0              37.284887
2     0  2015-01-11                  2.0              53.633746
3     0  2015-01-12                  1.0              33.489270
4     0  2015-01-13                  1.0              64.779678

   lessons_completed  projects_completed
0                0.0                 0.0
1                0.0                 0.0
2                0.0                 0.0
3                0.0                 0.0
4                0.0                 0.0

,acct,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
count,136240.000000,136240.000000,136240.000000,136240.000000,136240.000000
mean,449.069488,0.341060,24.551680,0.128795,0.006731
std,321.104209,0.624565,62.102959,0.469311,0.085108
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,200.000000,0.000000,0.000000,0.000000,0.000000
50%,392.000000,0.000000,0.000000,0.000000,0.000000
75%,597.000000,1.000000,7.307366,0.000000,0.000000
max,1305.000000,10.000000,1030.883197,17.000000,3.000000

In [19]:
# Panda Series works like numpy array and you can perform all the operations just like in numpy array
# Numpy array and Panda Series are faster than python list because they are implemented in C

In [52]:
sample_series = pd.Series(daily_engagement['acct'])
                         
sample_series.head()

0    0
1    0
2    0
3    0
4    0
Name: acct, dtype: int64

In [54]:
#Custom panda Series
temp_var = list(i+5 for i in range(136240))
#Convert the list to a Series
temp_series = pd.Series(temp_var)
#First column in the output displays the index
temp_series.head()

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [56]:
#Here, names represent indexes for our panda Series
age = list(20+i for i in range(3))
names = ['anunay', 'amar', 'mishra']
s_series = pd.Series(age, index=names)
s_series

anunay    20
amar      21
mishra    22
dtype: int64

In [57]:
#Now, you would use this series to get the value i.e. age
s_series.loc['amar']

21

In [69]:
#To find the person with the maximum age, we could perform the following operations:
#This returns the index of the maximum age
max_age = s_series.idxmax()
max_age

'mishra'

In [70]:
s_series[max_age]

22

In [73]:
#Returns the index, but not our custom index
max_age = s_series.values.argmax()
max_age

2

In [75]:
type(s_series.values)

numpy.ndarray

In [76]:
a1=pd.Series([1,2,3,4])

In [84]:
a2=pd.Series([5,6,7,8])

In [83]:
a1+a2

0     6
1     8
2    10
3    12
dtype: int64

In [89]:
#with index our Series works likes dictionary
age1 = [10, 9, 20]
names1 = ['anunay', 'amar', 'mishra']
s_series1 = pd.Series(age1, index=names1)
s_series1

anunay    10
amar       9
mishra    20
dtype: int64

In [90]:
age2 =  [17, 2, 5]
names2 = ['amar', 'anunay', 'mishra']
s_series2 = pd.Series(age2, index=names2)
s_series2

amar      17
anunay     2
mishra     5
dtype: int64

In [91]:
#Now, when we add two series, the addition will take place according to the index, please note the output
s_series1 + s_series2

amar      26
anunay    12
mishra    25
dtype: int64